<nav class="bg-light fixed-width-nav p-4">
  <div class="container-fluid flex-column p-0">
    <h1 class="navbar-brand">VISION.GG</h1>
    <ul class="nav flex-column">
      <li class="nav-item"><a class="nav-link" href="/characters">Characters</a></li>
      <li class="nav-item"><a class="nav-link" href="/visions">Visions</a></li>
      <li class="nav-item"><a class="nav-link" href="/weapons">Weapons</a></li>
      <li class="nav-item"><a class="nav-link" href="/roles">Roles</a></li>
    </ul>
  </div>
</nav>